@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 241.5859 91.9028% 48.4314%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220.0000 14.2857% 95.8824%;
    --secondary-foreground: 215 13.7931% 34.1176%;
    --muted: 210 20.0000% 98.0392%;
    --muted-foreground: 220 8.9362% 46.0784%;
    --accent: 204.0000 93.7500% 93.7255%;
    --accent-foreground: 224.4444 64.2857% 32.9412%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13.0435% 90.9804%;
    --input: 220 13.0435% 90.9804%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 217.2193 91.2195% 59.8039%;
    --chart-2: 221.2121 83.1933% 53.3333%;
    --chart-3: 224.2781 76.3265% 48.0392%;
    --chart-4: 225.9310 70.7317% 40.1961%;
    --chart-5: 224.4444 64.2857% 32.9412%;
    --sidebar: 210 20.0000% 98.0392%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 204.0000 93.7500% 93.7255%;
    --sidebar-accent-foreground: 224.4444 64.2857% 32.9412%;
    --sidebar-border: 220 13.0435% 90.9804%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Source Serif 4, serif;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 9.0196%;
    --foreground: 0 0% 89.8039%;
    --card: 0 0% 14.9020%;
    --card-foreground: 0 0% 89.8039%;
    --popover: 0 0% 14.9020%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.9020%;
    --secondary-foreground: 0 0% 89.8039%;
    --muted: 0 0% 12.1569%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 224.4444 64.2857% 32.9412%;
    --accent-foreground: 213.3333 96.9231% 87.2549%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.0980%;
    --input: 0 0% 25.0980%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 213.1169 93.9024% 67.8431%;
    --chart-2: 217.2193 91.2195% 59.8039%;
    --chart-3: 221.2121 83.1933% 53.3333%;
    --chart-4: 224.2781 76.3265% 48.0392%;
    --chart-5: 225.9310 70.7317% 40.1961%;
    --sidebar: 0 0% 9.0196%;
    --sidebar-foreground: 0 0% 89.8039%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224.4444 64.2857% 32.9412%;
    --sidebar-accent-foreground: 213.3333 96.9231% 87.2549%;
    --sidebar-border: 0 0% 25.0980%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Source Serif 4, serif;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

